{
    "gatewayName": "gateway",
    "gwnameShare": "gateway2",
    "hostIP": "",
    "siteFirewall": "",
    "glancesMonAll": false,
    "glancesCloudReport": false,
    "localTsDb":{
	   "use":false,
           "solution":"machbase",
	   "backupUsbDrive":false
    },
    "fieldDevGw":{
	"use":false,
	"embeded":true,
	"solution":"edgeHub",
	"protocol":"opcua",
	"ip":"127.0.0.1",
	"port":"4840"
    },
    "gwAdmin": {
        "id": "admin",
        "credential": "security/admin.secured"
    },
    "opcuaUser": {
        "id": "nestfield",
        "credential": "security/opcua.secured"
    },
    "cloudServer": {
        "ip": "123.123.123.123",
        "credential": "security/regiKey.secured"
    },
    "amqp": {
        "ip": "123.123.123.123",
        "id": "nestfield",
        "credential": "security/amqp.secured"
    },
    "serverRegiCompleted": false,
    "aggServerReadySuccess": false,
    "updated": ""
}
