[Unit]
Description=opcua web service

[Service]
Environment="TSDB_ORG="
Environment="TSDB_BUCKET="
Environment="TSDB_TOKEN="
Environment="MYSQL_DB=smartfactory"
Environment="MYSQL_USER=smartfactory"
Environment="MYSQL_PWD=cloud13!Smart24!"
Environment="OPCUA_NAME=Nestfield_GW"
Environment="OPCUA_USER=nestfield"
Environment="OPCUA_PWD=nestfield12!"

Type=simple
ExecStart=/opt/bin/web.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

