[Unit]
Description=edge registration service

[Service]
Type=simple
ExecStart=/opt/bin/regi.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
